<div class="container-fluid">
    <h3>Preguntas Frecuentes</h3>
    <p>A continuación una selección de preguntas frecuentes.</p>
    <br>
    <div class="accordion" id="accordionExample" *ngFor="let l of listado;let i=index">
        <div class="card">
          <div class="card-header" id="heading{{i+1}}">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" attr.data-target="#collapse{{i+1}}" aria-expanded="false" attr.aria-controls="collapse{{i+1}}">
                {{ i+1 }}. {{ l.p}}
              </button>
            </h2>
          </div>
          <div id="collapse{{i+1}}" class="collapse" attr.aria-labelledby="heading{{i+1}}" data-parent="#accordionExample">
            <div class="card-body text-justify" >
              {{ l.r }}
            </div>
          </div>
        </div>
    </div>
</div>


