<div class="container-fluid">
    <h3>Listado de Plantillas</h3>
    <p>Puede seleccionar el botón ver o editar para revisar las plantillas.</p>
    <table class="table table-hover col-10-md">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Plantilla</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of listado; let i = index">
             
              <td>{{l.codigo}}</td>
              <td>{{l.nombre }}</td>
              <td>{{ deco(l.titulo) }}</td>
              <td>{{l.descripcion}}</td>
              <td>{{l.servicio}}</td>
              <td>
                  <a class="btn btn-success btn-sm" routerLink="/editarplantilla/{{ l.codigo }}">Editar</a>
              </td>
            </tr>
          </tbody>
    </table>
    <a routerLink="/homeadmin" class="btn btn-primary">Volver</a>
</div>

