<div class="container-fluid">
    <h3>Listado de Convenios</h3>
    <p>Estos son los convenios aprobados por los usuarios autorizados</p>
    <table class="table table-hover col-10-md">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre entidad</th>
              <th scope="col">Comuna</th>
              <th scope="col">Fecha Solicitud</th>
              <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of listado; let i = index">
             
              <td>{{l.id}}</td>
              <td>{{l.name}}</td>
              <td>{{l.comuna}}</td>
              <td>{{l.fcrea}}</td>
              <td>
                  <a class="btn btn-warning btn-sm" routerLink="/detasol/{{l.id}}">Ver</a>
              </td>
            </tr>
          </tbody>
    </table>
    <a (click)="goBack()" class="btn btn-primary">Volver</a>
</div>

