<div class="container-fluid">
  <h3>Listado de Usuarios</h3>
  <p>Estos son los usuarios activos en el sistema actualmente</p>
  <div class="row ml-3">
    <div class="form-group">
      <input type="text" name="filUser" [(ngModel)]="filUser" placeholder="Filtrar por nombre">
    </div>
  </div>
  <table class="table table-hover col-10-md">
    <thead>
        <tr>
          <th scope="col">Login</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cargo</th>
          <th scope="col">Entidad</th>
          <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of usuarios | filtrousuarios:filUser ">
          <td>{{ u.login }}</td>
          <td>{{ u.nombre }}</td>
          <td>{{ u.cargo }}</td>
          <td>{{ u.entidad }}</td>
          <td>
            <button *ngIf="u.estado=='A'" class="btn btn-success btn-sm" (click)="cambiaEstadoUsuario(u.login)">Activo</button>
            <button *ngIf="u.estado=='I'" class="btn btn-danger btn-sm" (click)="cambiaEstadoUsuario(u.login)">Inactivo</button>
          </td>
        </tr>
    </tbody>
  </table>

  <a routerLink="/homeadmin" class="btn btn-primary">Volver</a>
</div>