<div class="container-fluid">
    <h4>Formularios</h4>
   <p> Utilice estos archivo para ejecutar las solicitudes de acceso a los sistemas, leer atentamente las instrucciones de cada uno.</p>
   <p> * Se recomienda descargar el formulario, usando click derecho sobre el enlace "Guardar enlace como..."</p>

   <ul>
       <li>
           Formulario Solicitu acceso a MonitoWeb: <a class="btn btn-success btn-sm" href="docs/Formulario_Solicitud_Cuentas_Oficial_24012019.xlsx">Descargar</a>
       </li>
   </ul>
